body{
    background-color: aqua;
    width: 100px;
    height: 100px;
}

#letra {
 color: rgb(7, 0, 0);
 
}

#contenedor{
    background-color: rgb(255, 255, 255);

    width: 500px;
    height: 500px;
    border-radius: 10%;
}

button {
    width: 45px;
    height: 50px;
    background-color: antiquewhite;
}